body{
    background-color: white;
}
.portada{
    background-image: url("Mundialnav.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.diamante{
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
}

.texto-descripcion{
    text-align: center;
    padding: 20px;
}


.contenedor-imagenes img:hover{
    transform: scale(1.04);
    border-radius: 20px;
}

/* keila */

.contenedor-mundiales{
    width: 80%;
    height: 15%;
    text-align: center;
    padding: 10px;
    padding-top: 5px;
    background-color: white;
    border-radius: 10px;
    margin: 2%;
}
h2{
    color: black;
    font-family: cursive;
    text-align: center;
}
p{
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}
.mundial1{
    gap: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    flex-direction: row-reverse;
}
img{
    width: 300px;
    height: 200px;
    max-width: 300px;
}
img{
    border-radius: 10px;
}

/* Gali */


.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

/* cuadros */
.card{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    color: rgb(255, 8, 8);
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.tarjeta h3{
    text-align: center;
    margin: 8px 0 3px 0;
    color: black;
    font-family: cursive;
}

.tarjeta p{
    text-align: center;
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: cursive;
}

/* imagenes */
.ganador1{
    background-image: url("brazil.jpg");
}

.ganador2{
    background-image: url("franciacopa.jpg");
}

.ganador3{
    background-image: url("brazzil2.jpg");
}

.ganador4{
    background-image: url("francia2.jpg");
}

.ganador5 {
    background-image: url("españa.jpg");
}

.ganador6 {
    background-image: url("alemania.jpg");
}

.ganador7 {
    background-image: url("francia2s.jpg");
}

.ganador8 {
    background-image: url("argentina.jpg");
}